VITE_OPENAI_API_KEY=

VITE_GEMINI_API_KEY=

VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_ID=
VITE_EMAILJS_PUBLIC_KEY=

VITE_EMAILJS_SERVICE_NOTIFICATION_ID=
VITE_EMAILJS_TEMPLATE_NOTIFICATION_ID=
VITE_EMAILJS_PUBLIC_NOTIFICATION_KEY=

VITE_VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_PUBLIC_KEY=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
VITE_STRIPE_PUBLISHABLE_KEY=

VITE_APP_URL=
VITE_API_URL=
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=